body {
	height: 100vh;
	width: 100vw;
}

#right-container {
	position: relative;
	z-index: 0;
}

#right-container::before{
    transform: skew(10deg);
    content: "";
    z-index: -1;
    position: absolute;
    left: -120px;
    height: 100%;
    border: 110px solid #3c7bff;
}

.carousel-item img {
	max-height: 100%;
	max-width: 100%;
}